.container {
  display: flex;
  width: var(--screen-width);
  border-bottom: 2px solid var(--main-gray);
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.title {
  text-decoration: none;
  font-size: 16pt; 
  font-weight: bold;
  color: var(--main-blue);
}

.title:hover,
.title:active {
  text-decoration: none;
}

