.loader {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: var(--main-blue);
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
